div.tp_carousel_content {
    background: #f3f3f3;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 0 3px #fff inset;
    -webkit-box-shadow: 0 0 3px #fff inset;
    box-shadow: 0 0 3px #fff inset;
    padding: 5px;
    text-align: center;
    min-height: 185px;
    }

div.tp_carousel_content h1 {
    color: #616161;
    font-size: 20px;
    margin: 0;
    padding: 3px 0;
	line-height: 21px;
    }
div.tp_extra_cls a {text-decoration: none;}

div.tp_carousel_content p {
  color: #747f7b;
  font-size: 12.5px;
  line-height: 19px;
  margin-top: 5px;
  margin-bottom: 8px;
}


div.tp_carousel_content div.tp_read_more {
    background: #fff;
    border: 2px solid #4aa3df;
    color: #4aa3df;
    display: inline-block;
    font-size: 12px;
    padding: 2px 9px;
    text-decoration: none;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
	text-align:center;
	margin-bottom: 5px;
    }

div.tp_carousel_content div.tp_read_more:hover {
    background: none repeat scroll 0 0 #4AA3DF;
    color: #fff
    }

/*Nevigation Button Style*/
.owl-carousel.tp-carosuel-css .owl-controls .owl-buttons {
    left: 0;
    margin-top: -20px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 100%
    }

.owl-carousel.tp-carosuel-css .owl-controls .owl-buttons div {
    display: inline-block;
    font-size: 20px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    background: #666;
    padding: 6px 13px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    }

.owl-carousel.tp-carosuel-css .owl-controls .owl-buttons div:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
    }

.owl-carousel.tp-carosuel-css .owl-controls .owl-buttons div.owl-prev {
    margin-left: -26px;
    background: url(../img/angle.png) no-repeat scroll center center #666;
    padding: 17px 19px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
    }

.owl-carousel.tp-carosuel-css .owl-controls .owl-buttons div.owl-next {
  background: url("../img/angle.png") no-repeat scroll center center #666;
  padding: 17px 19px;
  position: absolute;
  right: -27px;
}

/*Pagination Button Style*/
.owl-carousel.tp-carosuel-css .owl-pagination {
    text-align: center;
    margin-top: 4px
    }

.owl-carousel.tp-carosuel-css .owl-pagination div {
    background: #D4D4D4;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    width: 12px
    }

.owl-carousel.tp-carosuel-css .owl-pagination div.active {
    background: #4aa3df
    }